<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name=apple-mobile-web-app-capable content=yes>
  <meta name=apple-mobile-web-app-status-bar-style content=black>
  <title>直播间Demo</title>
  <link rel=stylesheet href=vonic/vonic.min.css>
  <script src=js/axios.js></script>
  <script src=js/vue.js></script>
  <script src=js/vue-router.js></script>
  <script src=vonic/vonic.min.js></script>
  <link href=css/app.b829d39aa5e10720e024cbb1296a2f58.css rel=stylesheet>
</head>
<body>
<von-app></von-app>
<script type=text/javascript src=js/manifest.cc99e407aeb1d2ae73ca.js></script>
<script type=text/javascript src=js/vendor.28b86503db3d49926942.js></script>
<script type=text/javascript src=js/app.10bab200145280966f5b.js></script>
</body>
</html>
