<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name=apple-mobile-web-app-capable content=yes>
  <meta name=apple-mobile-web-app-status-bar-style content=black>
  <title>直播间Demo</title>
  <link rel=stylesheet href=vonic/vonic.min.css>
  <script src=js/axios.js></script>
  <script src=js/vue.js></script>
  <script src=js/vue-router.js></script>
  <script src=vonic/vonic.min.js></script>
  <link href=css/app.67e4af7d9910c97f5df6bb6b213ff1f3.css rel=stylesheet>
</head>
<body>
<von-app></von-app>
<script type=text/javascript src=js/manifest.fddd48e9f875e8739b1d.js></script>
<script type=text/javascript src=js/vendor.5d4ccd180b81d317649a.js></script>
<script type=text/javascript src=js/app.7d770e6dd8497d862a17.js></script>
</body>
</html>
